{% extends 'base.html.twig' %}

{% block body %}

    <h1>Modification Signature de Mail</h1>

    {{ form(form) }}


    <p>Url en cours : {{ url_actuelle }}</p>
    <p>Image en cours : <img src="{{ img_actuelle }}" /></p>

{% endblock %}