{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajout d'une pièce jointe</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <p class="text-center"><input type="submit" value="Ajouter" class="btn btn-success" /></p>
    {{ form_end(form) }}

            <p class="text-center"><a class="btn btn-info" href="{{ path('attachment_index') }}">Retour à la liste</a></p>

{% endblock %}
